// Files css
.file-man-box {
    padding: 20px;
    border: 1px solid #e3eaef;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);

    .file-close {
        color: #f1556c;
        position: absolute;
        line-height: 24px;
        font-size: 24px;
        right: 10px;
        top: 10px;
        visibility: hidden;
    }

    .file-img-box {
        line-height: 120px;
        text-align: center;

        img {
            height: 64px;
        }
    }

    .file-download {
        font-size: 32px;
        color: #98a6ad;
        position: absolute;
        right: 10px;

        &:hover {
            color: #313a46;
        }
    }

    .file-man-title {
        padding-right: 25px;
    }

    &:hover {
        .file-close {
            visibility: visible;
        }
    }

    &:hover .text-overflow,
    .text-overflow {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        overflow: hidden;
    }
}

// Auth css
.authentication {
    margin: auto;
    width: 400px;
    height: auto;
    z-index: 3;
    background: #fff;
    @include box-shadow(10px 0 35px 0 rgba(50, 50, 93, 0.27));

    .logo {
        display: block;
        width: 100%;
        text-align: center;
        margin: 20px auto;

        img {
            width: 150px;
        }
    }

    &-form {
        display: block;
        padding: 3*$padding-md 2*$padding-md;

        &.small-gutter {
            padding: 1.5*$padding-xl 2*$padding-lg;
        }

        h5 {
            margin-top: $padding;
            font-size: $fontSize;
        }

        .form-group {
            padding: 0;
            margin-bottom: $padding;
            position: relative;
            display: block;

            label {
                position: absolute;
                left: 0;
                top: 0;
                width: $inputSize;
                height: $inputSize;
                line-height: $inputSize;
                text-align: center;
                border-right: 1px solid $borderColor;
                color: $textColorLight;
                @include transition(all .1s ease);
            }

            input {
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .1) !important;
                height: $inputSize;
                line-height: $inputSize;
                padding: 0 $padding 0 ($inputSize + $padding);
                color: $headerColor;
                @include transition(all .1s ease);

                &:focus {
                    outline: none;
                    border-color: 1px solid rgba(0, 0, 0, .1) !important;
                    @include box-shadow(none);
                    @include transition(all .1s ease);

                    ~label {
                        border-color: 1px solid rgba(0, 0, 0, .1) !important;
                        color: $headerColor;
                        @include transition(all .1s ease);
                    }
                }
            }

            .select-box {
                font-size: $fontSize;
                position: relative;
                height: $inputSize;
                line-height: $inputSize;
                border: 1px solid rgba(0, 0, 0, .1) !important;

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    padding-right: 40px;
                    padding-left: ($inputSize + $padding);
                    border: none;
                    background: transparent;
                    color: $headerColor;

                    option {
                        &:disabled {
                            color: $textColorLight;
                        }
                    }
                }

                &:after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    content: '\21F5';
                    pointer-events: none;
                    padding: 0 $padding;
                    color: $textColor;
                    height: $inputSize;
                    line-height: $inputSize;
                }
            }
        }

        .authentication-button {
            margin-top: $padding-sm;

            .forgot-password {
                display: inline-block;
                font-weight: $fontNormal;
                color: $textColorLight;
                padding: $padding-sm 0;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        .authentication-facebook {
            text-align: center;
            margin-top: $padding-xl;
        }
    }

    &-box {
        margin-bottom: 10px;
    }

    @media screen and (max-width: $grid-md) {
        &-form {
            padding: $padding-xl;
        }

        .logo {
            margin-bottom: $padding-xl;
        }
    }
}

// Profile Css
.comment {
    position: relative;
    margin-bottom: 25px;
    font-size: 13px;

    p {
        margin: 0;
        padding: 0;
    }

    img.avatar {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 50px;
        height: 50px;
        top: 6px;
        border-radius: 100%;
    }

    .comment-body {
        position: relative;
        padding-left: 60px;
    }

    .comment-reply {
        margin-left: 60px;
        padding: 6px;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    .comment-author {
        margin-bottom: 6px;
        display: block;

        span {
            font-size: 15px;
        }
    }

    .comment-footer {
        background: #f9f9f9;
        margin-left: 60px;
        margin-top: 10px;
        padding: 8px;
        border-radius: 25px;

        li {
            padding-left: 15px;
            padding-right: 5px;
        }
    }
}

.datebox {
    font-size: 14px;
    display: block;
    position: relative;
    width: 35px;
    border-color: #2E363F;
    background-color: #fff;
    margin: 3px auto;
    border: 1px solid;

    strong {
        padding: 2px 0;
        color: #fff;
        background-color: #1c2b36;
        display: block;
        text-align: center;
    }

    span {
        font-size: 15px;
        color: #2f2f2f;
        display: block;
        text-align: center;
    }
}

// Social button
.btn {
    &-facebook-connect {
        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' width='256px' height='256px' viewBox='0 0 256 256'%3E%3Cpath display='none' fill='%235FA9DD' d='M270.332,28.818c-9.76,4.328-20.249,7.255-31.258,8.57 c11.237-6.735,19.867-17.401,23.93-30.11c-10.515,6.237-22.163,10.766-34.56,13.207c-9.928-10.578-24.072-17.187-39.725-17.187 c-30.058,0-54.426,24.368-54.426,54.423c0,4.266,0.481,8.419,1.409,12.403C90.47,67.854,50.368,46.187,23.525,13.26 c-4.685,8.038-7.368,17.387-7.368,27.361c0,18.881,9.608,35.54,24.211,45.3c-8.921-0.282-17.313-2.731-24.651-6.807 c-0.004,0.227-0.005,0.455-0.005,0.684c0,26.369,18.76,48.366,43.658,53.366c-4.567,1.243-9.375,1.908-14.339,1.908 c-3.507,0-6.916-0.341-10.24-0.976c6.926,21.622,27.025,37.357,50.84,37.797c-18.626,14.596-42.093,23.297-67.591,23.297 c-4.393,0-8.725-0.258-12.983-0.76c24.085,15.442,52.693,24.451,83.427,24.451c100.106,0,154.847-82.93,154.847-154.849 c0-2.359-0.053-4.707-0.157-7.04C253.808,49.318,263.035,39.732,270.332,28.818z'/%3E%3Cpath id='White_2_' display='none' fill='%23FFFFFF' d='M230.002,10.683H51.28c-6.125,0-11.088,4.963-11.088,11.088v178.722 c0,6.123,4.963,11.088,11.088,11.088h96.218v-77.798h-26.181v-30.32h26.181v-22.36c0-25.948,15.848-40.078,38.996-40.078 c11.088,0,20.618,0.826,23.395,1.194v27.118l-16.054,0.007c-12.589,0-15.027,5.982-15.027,14.76v19.358h30.024l-3.909,30.32h-26.114 v77.798h51.194c6.123,0,11.088-4.965,11.088-11.088V21.771C241.09,15.646,236.125,10.683,230.002,10.683z'/%3E%3Cpath id='f' fill='%233C5A9A' d='M158.232,219.912v-94.461h31.707l4.747-36.813h-36.454V65.134c0-10.658,2.96-17.922,18.245-17.922 l19.494-0.009V14.278c-3.373-0.448-14.944-1.45-28.406-1.45c-28.106,0-47.348,17.156-47.348,48.662v27.149H88.428v36.813h31.788 v94.461H158.232z'/%3E%3C/svg%3E%0A") no-repeat 5px 0px / 30px 42px;
        border: 1px solid rgba(0, 0, 0, .1) !important;

        span {
            color: rgb(60, 90, 154);
        }
    }

    &-google-connect {
        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='128.000000pt' height='128.000000pt' viewBox='0 0 128.000000 128.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.15, written by Peter Selinger 2001-2017%0A%3C/metadata%3E%3Cg transform='translate(0.000000,128.000000) scale(0.100000,-0.100000)'%0Afill='%23cc3300' stroke='none'%3E%3Cpath d='M347 860 c-27 -17 -60 -50 -77 -77 -28 -43 -30 -54 -30 -140 0 -132%0A33 -190 139 -243 37 -19 57 -21 131 -18 74 3 92 7 128 31 23 15 54 46 69 69%0A24 36 28 53 31 130 l4 88 -126 0 -126 0 0 -60 0 -60 65 0 c36 0 65 -4 65 -9 0%0A-5 -13 -22 -28 -39 -75 -80 -221 -29 -239 83 -8 51 21 119 61 145 41 25 116%0A27 152 3 25 -16 26 -16 66 25 34 33 39 43 29 55 -27 33 -78 47 -173 47 -87 0%0A-98 -2 -141 -30z'/%3E%3Cpath d='M890 730 l0 -40 -40 0 -40 0 0 -40 0 -40 40 0 40 0 0 -40 0 -40 41 0%0A41 0 -4 40 -4 40 38 0 c38 0 38 0 38 40 0 40 0 40 -38 40 l-38 0 4 40 4 40%0A-41 0 -41 0 0 -40z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat 5px 0px / 42px 42px;
        border: 1px solid rgba(0, 0, 0, .1) !important;

        span {
            color: rgb(220, 74, 61);
        }
    }
}

.task-box {
    h4 {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        overflow: hidden
    }

    ul li {
        padding-right: 30px
    }

    .file-img-box {
        line-height: 0 !important;
    }
}

.task-members a {
    margin: 0 0 10px -12px;
    display: inline-block;

    &:first-of-type {
        margin-left: 0
    }
}

.thumb-sm {
    height: 36px;
    width: 36px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.tasks {
    background: #fff;
    padding: 0;
}

.task-list {
    padding: 30px 15px;
    height: 100%;

    h1 {
        font-size: 24px;
    }
}

.priority.high {
    span {
        background: #f86c6b;
        padding: 4px 10px;
        color: #fff;
        display: inline-block;
        font-size: 12px
    }
}

.priority.medium {
    span {
        background: #f8cb00;
        padding: 4px 10px;
        color: #fff;
        display: inline-block;
        font-size: 12px
    }
}

.priority.low {
    span {
        background: #4dbd74;
        padding: 4px 10px;
        color: #fff;
        display: inline-block;
        font-size: 12px
    }
}

.priority.default span {
    background: #1c2a36;
    padding: 4px 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px
}

.task {
    margin-bottom: 1px;
    position: relative;

    .desc {
        display: inline-block;
        width: 85%;
        padding: 10px 10px;
        font-size: 12px;

        .title {
            font-size: 18px;
            margin-bottom: 5px
        }
    }

    .time {
        display: inline-block;
        padding: 10px 10px 10px 0;
        font-size: 11px;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;

        .date {
            font-size: 13px;
            margin-bottom: 5px
        }
    }

    .last {
        border-bottom: 1px solid transparent
    }

    &.high {
        border-left: 2px solid #f86c6b;
    }

    &.medium {
        border-left: 2px solid #f8cb00;
    }

    &.low {
        border-left: 2px solid #4dbd74;
    }

    &.default {
        border-left: 2px solid #1c2a36;
    }
}

.timeline-booking {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .timeline-item {
        position: relative;

        .stop-dates {
            small {
                position: relative;
                border-left: 2px solid #ddd;
                padding-left: 0.6rem;

                span {
                    color: lightcoral;
                }
            }
        }

        .timeline-item-footer>.reference {
            padding: 4px;
            background-color: #888;
            border-radius: 3px;
            color: white;
        }
    }
}

.timeslot {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 5px 0;

    .task {
        position: relative;
        width: 44%;
        display: block;
        border: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;

        span {
            border: 2px solid #63c2de;
            background: #e1f3f9;
            padding: 5px;
            display: block;
            font-size: 11px;

            span {
                border: 0;
                background: 0 0;
                padding: 0
            }

            span.details {
                font-size: 16px;
                margin-bottom: 10px
            }

            span.remaining {
                font-size: 14px
            }
        }

        .arrow {
            position: absolute;
            top: 6px;
            right: 0;
            height: 20px;
            width: 20px;
            border-left: 12px solid #63c2de;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            margin-right: -18px;

            &::after {
                position: absolute;
                content: '';
                top: -12px;
                right: 3px;
                height: 20px;
                width: 20px;
                border-left: 12px solid #e1f3f9;
                border-top: 12px solid transparent;
                border-bottom: 12px solid transparent;
            }
        }
    }

    .icon {
        position: absolute;
        border: 2px solid #d1d4d7;
        background: #2a2c36;
        -webkit-border-radius: 50em;
        -moz-border-radius: 50em;
        border-radius: 50em;
        height: 30px;
        width: 30px;
        top: 0;
        left: 50%;
        margin-left: -17px;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        text-shadow: none;
        z-index: 2;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }

    .time {
        background: #d1d4d7;
        position: absolute;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        top: 1px;
        left: 50%;
        padding: 5px 10px 5px 40px;
        z-index: 1;
        margin-top: 1px
    }
}


.timeslot.alt .task {
    margin-left: 56%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.timeslot.alt .task .arrow {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    border-left: none;
    border-right: 12px solid #63c2de;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin-left: -18px
}

.timeslot.alt .task .arrow:after {
    top: -12px;
    left: 3px;
    height: 20px;
    width: 20px;
    border-left: none;
    border-right: 12px solid #e1f3f9;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent
}

.timeslot.alt .time {
    top: 1px;
    left: auto;
    right: 50%;
    padding: 5px 40px 5px 10px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .task .desc {
        display: inline-block;
        width: 70%;
        padding: 10px 10px;
        font-size: 12px
    }

    .task .desc .title {
        font-size: 16px;
        margin-bottom: 5px
    }

    .task .time {
        display: inline-block;
        float: right;
        width: 20%;
        padding: 10px 10px;
        font-size: 12px;
        text-align: right
    }

    .task .time .date {
        font-size: 16px;
        margin-bottom: 5px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .task {
        margin-bottom: 1px
    }

    .task .desc {
        display: inline-block;
        width: 65%;
        padding: 10px 10px;
        font-size: 10px;
        margin-right: -20px
    }

    .task .desc .title {
        font-size: 14px;
        margin-bottom: 5px
    }

    .task .time {
        display: inline-block;
        float: right;
        width: 25%;
        padding: 10px 10px;
        font-size: 10px;
        text-align: right
    }

    .task .time .date {
        font-size: 14px;
        margin-bottom: 5px
    }

    .timeslot .task span {
        padding: 5px;
        display: block;
        font-size: 10px
    }

    .timeslot .task span span {
        border: 0;
        background: 0 0;
        padding: 0
    }

    .timeslot .task span span.details {
        font-size: 14px;
        margin-bottom: 0
    }

    .timeslot .task span span.remaining {
        font-size: 12px
    }
}

@media only screen and (max-width:767px) {
    .tasks {
        position: relative;
        margin: 0 !important
    }

    .graph {
        position: relative;
        margin: 0 !important
    }

    .task {
        margin-bottom: 1px;

        .desc {
            display: inline-block;
            width: 65%;
            padding: 10px 10px;
            font-size: 10px;
            margin-right: -20px;

            .title {
                font-size: 14px;
                margin-bottom: 5px
            }
        }

        .time {
            display: inline-block;
            float: right;
            width: 25%;
            padding: 10px 10px;
            font-size: 10px;
            text-align: right;

            .date {
                font-size: 14px;
                margin-bottom: 5px
            }
        }
    }

    .timeslot {
        .task span {
            padding: 5px;
            display: block;
            font-size: 10px;

            span {
                border: 0;
                background: 0 0;
                padding: 0;
            }

            span.details {
                font-size: 14px;
                margin-bottom: 0;
            }

            span.remaining {
                font-size: 12px;
            }
        }

    }
}

// Step card css
.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;

    .step-icon {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        border: 1px solid #e1e7ec;
        border-radius: 50%;
        background-color: #f5f5f5;
        color: #374250;
        font-size: 38px;
        line-height: 81px;
        z-index: 5;
    }

    .step-icon-wrap {
        display: block;
        position: relative;
        width: 100%;
        height: 80px;
        text-align: center;
    }

    .step-icon-wrap::before,
    .step-icon-wrap::after {
        display: block;
        position: absolute;
        top: 50%;
        width: 50%;
        height: 3px;
        margin-top: -1px;
        background-color: #e1e7ec;
        content: '';
        z-index: 1;
    }

    .step-icon-wrap::before {
        left: 0
    }

    .step-icon-wrap::after {
        right: 0
    }

    .step-title {
        margin-top: 16px;
        margin-bottom: 0;
        color: #606975;
        font-size: 14px;
        font-weight: 500
    }

    &:first-child .step-icon-wrap::before {
        display: none
    }
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #1c2a36
}

.steps .step.completed .step-icon {
    border-color: #1c2a36;
    background-color: #1c2a36;
    color: #fff
}

@media (max-width: 576px) {

    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {

    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {

    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {

    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

.bg-faded,
.bg-secondary {
    background-color: #f5f5f5 !important;
}

// Email template css

.email-app {
    display: flex;
    flex-direction: row;
    background: #fff;
    border: 1px solid #e1e6ef;

    nav {
        flex: 0 0 200px;
        padding: 1rem;
        border-right: 1px solid #e1e6ef;

        .btn-block {
            margin-bottom: 15px;
        }

        .nav {
            flex-direction: column;

            .nav-item {
                position: relative;

                .nav-link,
                .dropdown-toggle,
                .dropdown-toggle {
                    color: #151b1e;
                    border-bottom: 1px solid #e1e6ef;

                    i {
                        width: 20px;
                        margin: 0 10px 0 0;
                        font-size: 14px;
                        text-align: center;
                    }

                    .badge {
                        float: right;
                        margin-top: 4px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    main {
        min-width: 0;
        flex: 1;
        padding: 1rem;
    }

    .inbox {
        .toolbar {
            padding-bottom: 1rem;
            border-bottom: 1px solid #e1e6ef;
        }

        .messages {
            padding: 0;
            list-style: none;
        }

        .message {
            position: relative;
            padding: 1rem 1rem 1rem 2rem;
            cursor: pointer;
            border-bottom: 1px solid #e1e6ef;

            &hover {
                background: #f9f9fa;
            }

            .actions {
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: column;

                .action {
                    width: 2rem;
                    margin-bottom: 0.5rem;
                    color: #c0cadd;
                    text-align: center;
                }
            }
        }
    }

    .inbox .message a {
        color: #000;
    }

    .inbox .message a:hover {
        text-decoration: none;
    }

    .inbox .message.unread .header,
    .inbox .message.unread .title {
        font-weight: bold;
    }

    .inbox .message .header {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
    }

    .inbox .message .header .date {
        margin-left: auto;
    }

    .inbox .message .title {
        margin-bottom: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .inbox .message .description {
        font-size: 12px;
    }

    .message .toolbar {
        padding-bottom: 1rem;
        border-bottom: 1px solid #e1e6ef;
    }

    .message .details .title {
        padding: 1rem 0;
        font-weight: bold;
    }

    .message .details .header {
        display: flex;
        padding: 1rem 0;
        margin: 1rem 0;
        border-top: 1px solid #e1e6ef;
        border-bottom: 1px solid #e1e6ef;
    }

    .message .details .header .avatar {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }

    .message .details .header .from {
        font-size: 12px;
        color: #9faecb;
        align-self: center;
    }

    .message .details .header .from span {
        display: block;
        font-weight: bold;
    }

    .message .details .header .date {
        margin-left: auto;
    }

    .message .details .attachments {
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-top: 3px solid #f9f9fa;
        border-bottom: 3px solid #f9f9fa;
    }

    .message .details .attachments .attachment {
        display: flex;
        margin: 0.5rem 0;
        font-size: 12px;
        align-self: center;
    }

    .message .details .attachments .attachment .badge {
        margin: 0 0.5rem;
        line-height: inherit;
    }

    .message .details .attachments .attachment .menu {
        margin-left: auto;
    }

    .message .details .attachments .attachment .menu a {
        padding: 0 0.5rem;
        font-size: 14px;
        color: #e1e6ef;
    }
}

@media (max-width: 767px) {
    .email-app {
        flex-direction: column;
    }

    .email-app nav {
        flex: 0 0 100%;
    }
}

@media (max-width: 575px) {
    .email-app .message .header {
        flex-flow: row wrap;
    }

    .email-app .message .header .date {
        flex: 0 0 100%;
    }
}

.card {
    margin-bottom: $padding-lg;
    border: 1px solid $borderColorLight;

    &.has-shadow {
        @include box-shadow($boxShadow);
    }

    .card-body-title {
        flex: inherit;
    }

    &.card-hover {
        @include transition(all $animateFast ease-in-out);

        &:hover {
            @include transform(translateY(-4px) scale(1.01));
            @include box-shadow($boxShadowCard);
            @include transition(all $animateFast ease-in-out);
        }
    }

    .card-title {
        font-size: .9*$fontSizeLarge;
        font-weight: $fontMedium;
    }
}

.card-footer-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #2c3136;

    div {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
        flex: 1 0 33%;
        padding: 0.75em;
    }

    div:nth-of-type(2) {
        border-left: 1px solid #3E4142;
        border-right: 1px solid #3E4142;
    }

    p {
        font-size: 0.8em;
        color: #A6A6A6;
        margin-bottom: 0.4em;
        font-weight: 600;
        text-transform: uppercase;
    }

    i {
        color: #ddd;
    }

    span {
        color: #ddd;
    }

    span.stats-small {
        font-size: 0.9em;
    }
}

.card-box {
    position: relative;
    background-color: #fff;
    color: #1c2a36;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}

.card-box:hover {
    text-decoration: none;
    color: #1c2a36;
}

.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}

.card-box .inner {
    padding: 5px 10px 0 10px;
}

.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}

.card-box p {
    font-size: 15px;
}

.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: #444;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}

.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}

.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .025)
}

.card-border-primary {
    border-top: 4px solid #2979ff
}

.card-border-secondary {
    border-top: 4px solid #efefef
}

.card-border-success {
    border-top: 4px solid #00c853
}

.card-border-info {
    border-top: 4px solid #3d5afe
}

.card-border-warning {
    border-top: 4px solid #ff9100
}

.card-border-danger {
    border-top: 4px solid #ff1744
}

.card-border-light {
    border-top: 4px solid #f8f9fa
}

.card-border-dark {
    border-top: 4px solid #6c757d
}

.card-header {
    border-bottom-width: 1px
}

.card-actions a {
    color: #495057;
    text-decoration: none
}

.card-actions svg {
    width: 16px;
    height: 16px
}

.card-actions .dropdown {
    line-height: 1.4
}

.card-title {
    font-weight: 500;
    margin-top: .1rem
}

.card-subtitle {
    font-weight: 400
}

.card-table {
    margin-bottom: 0
}

.card-table tr td:first-child,
.card-table tr th:first-child {
    padding-left: 1.25rem
}

.card-table tr td:last-child,
.card-table tr th:last-child {
    padding-right: 1.25rem
}

.card-img-top {
    height: 100%
}

.card-img-top-left {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.25rem;
}

.author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.author-card .author-card-cover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
}

.author-card .author-card-cover>.btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
}

.author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
}

.author-card .author-card-profile .author-card-avatar,
.author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
}

.author-card .author-card-profile .author-card-avatar {
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
    border-radius: 100%;
}

.author-card .author-card-profile .author-card-avatar>img {
    display: block;
    width: 100%;
}

.author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
}

.author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

.author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
}

.author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
}

.author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
}

.author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}

.btn-style-1.btn-white {
    background-color: #fff;
}

.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}

.mr-1,
.mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #ac32e4;
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

a.list-group-item,
.list-group-item-action {
    color: #404040;
    font-weight: 600;
}

.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.tile-progress {
    margin-bottom: 20px;
    border-radius: 5px;
    background-clip: padding-box;
    border-radius: 3px;
}

.tile-progress .tile-progressbar {
    height: 2px;
    background: rgba(0, 0, 0, 0.18);
    margin: 0;
}

.tile-progress .tile-progressbar span {
    display: block;
    background: #007bff;
    width: 0;
    height: 100%;
    transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.tile-progress .tile-footer {
    padding: 10px;
    text-align: right;
    background: rgba(0, 0, 0, .009);
}

.tile-progress .tile-footer h4 {
    margin-bottom: 0;
}

.tile-progress .tile-footer span:last-child {
    font-size: 11px;
}

.tile-progress .tile-footer .count {
    color: #007bff;
    font-size: 38px !important;
}

p,figure {
    margin: 0;
    padding: 0;
}
   
.table {
    td, th {
      white-space: nowrap;
      padding-right: 13px;
    }
    .member {
      display: flex;
      img{ 
        width: 32px;
        height:32px;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
  }
