<nav class="nav navbar navbar-light bg-light">
    <div class="nav-container">
      <ul class="nav-left">
        <li>
          <a id="sidebar-toggle" class="sidebar-toggle wave-effect" href="#">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="search-box">
          <a class="search-toggle wave-effect" href="#">
            <i class="search-icon ti-search"></i>
            <i class="search-icon-close ti-close"></i>
          </a>
        </li>
        <li class="search-input">
          <input class="form-control" type="text" placeholder="Search...">
        </li>
      </ul>
      <ul class="nav-right">

      </ul>
    </div>
</nav>