<div class="sidebar bg-light">
    <div class="sidebar-inner">
      <div class="sidebar-logo">
        <div class="d-flex align-items-center flex-nowrap">
          <div class="">
            <a class="sidebar-link text-decoration-none" href="{{ site.baseurl }}/index.html">
              <div class="d-flex align-items-center flex-nowrap">
                <div class="">
                  <div class="logo">
                    <!-- <img src="{{ site.baseurl }}/assets/images/github.svg"> -->
                  </div>
                </div>
                <div class="">
                  <!-- <h5 class="logo-text">Next</h5> -->
                </div>
              </div>
            </a>
          </div>
          <div class="">
            <div class="mobile-toggle sidebar-toggle">
              <a href="#" class="text-decoration-none">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <ul class="sidebar-menu scrollable position-relative pt-3">
        <li class="nav-item dropdown actived">
          <a class="wave-effect dropdown-toggle" href="#">
            <span class="icon-holder">
              <i class="feather icon-home"></i>
            </span>
            <span class="title">Dashboard</span>
            <span class="arrow">
              <i class="ti-angle-right"></i>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="sidebar-link" href="#">
                <span class="title">Systems</span>
              </a>
            </li>
            <li>
              <a class="sidebar-link" href="#">
                <span class="title">Analyst</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="sidebar-link wave-effect" href="#">
            <span class="icon-holder">
              <i class="ti-email"></i>
            </span>
            <span class="title">Email</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="#">
            <span class="icon-holder">
              <i class="ti-share"></i>
            </span>
            <span class="title">Compose</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="#">
            <span class="icon-holder">
              <i class="ti-comment-alt"></i>
            </span>
            <span class="title">Chat</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="#">
            <span class="icon-holder">
                <i class="ti-files"></i>
              </span>
            <span class="title">Pages</span>
            <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="sidebar-link" href="#">Blank</a>
            </li>                 
            <li>
              <a class="sidebar-link" href="#">404</a>
            </li>
            <li>
              <a class="sidebar-link" href="#">500</a>
            </li>
            <li>
              <a class="sidebar-link" href="#">Sign In</a>
            </li>
            <li>
              <a class="sidebar-link" href="#">Sign Up</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="#">
            <span class="icon-holder">
              <i class="ti-view-list-alt"></i>
            </span>
            <span class="title">Multiple Levels</span>
            <span class="arrow">
              <i class="ti-angle-right"></i>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item dropdown">
              <a href="#">
                <span>Menu Item</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#">
                <span>Menu Item</span>
                <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Menu Item</a>
                </li>
                <li>
                  <a href="#">Menu Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>