.setting-widget {
    position: fixed;
    top: 30%;
    right: 0;
    background-color: #fff;
    z-index: 9999;
    padding: 5px;
}

.card {
    border: 0;
    // box-shadow:
    // 0 2.8px 2.2px rgba(204, 230, 255, 0.034),
    // 0 6.7px 5.3px rgba(204, 230, 255, 0.048),
    // 0 12.5px 10px rgba(204, 230, 255, 0.06),
    // 0 22.3px 17.9px rgba(204, 230, 255, 0.072),
    // 0 41.8px 33.4px rgba(204, 230, 255, 0.086),
    // 0 100px 80px rgba(204, 230, 255, 0.12);
}

// .shadow {
//     box-shadow: 0 .5rem 1rem rgba(204, 230, 255, 0.086) !important;
// }

.brand-sm {
    width: 2rem;
}

.brand-md {
    width: 4rem;
}

svg.navbar-brand-img {
    fill: #1b68ff;
}
