@import "config/variables";

body {
    background-color: #1c2a36;
}

.card-box,
.page-todo .tasks,.bg-light,
.table-inverse, .table-slick th, footer, .list-group-item,
.card-header, .card-body, .card-footer,.comment-footer {
    background-color: transparent !important;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
footer,
.card-footer {
    border-top: 1px solid #313d4f !important;
}
.file-man-box,
.list-group-item {
    border: 1px solid #313d4f !important;
}

.nav-tabs {
    border-bottom: 1px solid #313d4f !important;
}
.page-todo .task {
    border-bottom: none;
}
.card,.card-box, .email-app,
.timeline .timeline-wrapper .timeline-panel,
.form-control, input, .breadcrumb {
    background-color: transparent;
    border: 1px solid #313d4f !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    .card-box-footer, li {
        color: #f9f9f9;
    }
    .widget-data,
    .widget-icon,
    .header-title,
    .card-title-desc {
        color: #fff !important;
    }
}
.offcanvas-menu {
    background-color: rgb(28, 42, 54);
    border-left: 1px solid #313d4f !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
}

.badge-light {
    color: #1c2a36 !important;
}
.page-todo .priority.high {
    background-color: transparent !important;
}
.authentication,
.invoice{
    p, th, td, h1, h2, h3, h4, h5, h6, span, label {
        color: #1c2a36 !important;
    }
}

.table-light, .table-success, .table-warning,
.table-danger, .table-info {
    td, th {
        color: #1c2a36 !important;
    }
} 
.nav-item .active span,
.card-box .dropdown-menu a,
.card .dropdown-menu a {
    color: #1c2a36 !important;
}
.form-control:focus {
    background-color: transparent !important;
}
.datepicker {
    background-color: rgb(28, 42, 54);
    padding: 20px;
}

.invoice-price .invoice-price-right span,
.fc-head-container, .fc-day-number,
.table-inverse .table-slick td p, .text-dark,
.table-slick-inner .title, .pricing, .display-5,
.timeline-footer span,
.btn-group .user-account ul a, .title, .date, input,
a, p, th, td, h1, h2, h3, h4, h5, h6, label {
    color: #fff !important;
}

.modal-header, .modal-footer,
.table-inverse td,
.border-bottom, .border-top,
.table td, .table th {
    border-color: rgba(0,0,0,.15) !important;
}
.table-slick tr:hover {
    background-color: transparent !important;
}
.email-app .inbox .toolbar,
.email-app .inbox .message,.email-app nav,
.email-app nav .nav .nav-item .nav-link,
.table-inverse.table-slick tr:not(:last-of-type) {
    border-color: #313d4f;
}
.card-box .text-primary,
.bs-spinner .text-primary,
.fc-center h2, .card .text-primary {
    color: #fff !important;
}
.progress {
    background-color: #313d4f !important;
}

.modal-content,
.topbar ul li .dropdown-menu,
.notification .dropdown-menu {
    background: #1c2a36 !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
    li a {
        border-bottom: 1px solid #313d4f!important;
    }
}

.topbar ,
.sidebar {
    background-color: $sidebarDark;
    color: $textColorLight;
    .logo {
        border-color: $textColor;

        .logo-full {
            color: $textColorLight;
        }
    }
    ul {
        li {
            &.nav-item {
                a {
                    color: $textColorLight;

                    &:hover, &:not(.collapsed):not(.nav-single) {
                        background: $sidebarDarkDropdown;
                        color: $textColor;
                    }
                }

                .collapse {
                    background-color: $sidebarDarkDropdown;
                    color: $textColorLight;

                    a:hover {
                        background: $borderColor!important;
                        color: $textColorLight;
                    }
                }
            }
        }
    }
}
.widget .avatar-char,
.widget .avatar-img { 
    border: 1px solid #313d4f!important;
}
.loader-roller div:after {
    background-color: #fff !important;
}