p,
figure {
  margin: 0;
  padding: 0;
}
 

.table-slick {
  background-color: #273142;
  border: 1px solid #313D4F;
  overflow-x: auto;
  width: 100%;
  padding: 16px;
}
.table-slick-inner {
  border-radius: 4px;
}

.table-slick-header {
  color: white;    
  padding-bottom: 10px;
}
.table-slick-header .count,
.table-slick-header .title {
  display: inline-block;
}
.table-slick-header .count {
  color: #738297;
}
.table-slick-header .zmdi {
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 5px 0;
}
.table-slick-header .title {
  font-size: 21px;
}
.table-slick-header .title + .count {
  margin-left: 5px;
}

.table-slick td,
.table-slick th {
  color: white;
  padding: 10px 22px;
  vertical-align: middle;
  white-space: nowrap;
}
.table-slick td p {
  font-size: 12px;
}
.table-slick td p:last-of-type {
  color: #738297;
  font-size: 11px;
}
.table-slick th {
  background-color: #313D4F;
}
.table-slick tr:hover {
  background-color: #303d52;
}
.table-slick tr:not(:last-of-type) {
  border-bottom: 1px solid #313D4F;
}
.table-slick .member figure,
.table-slick .member .member-info {
  display: inline-block;
  vertical-align: top;
}
.table-slick .member figure + .member-info {
  margin-left: 7px;
}
.table-slick .member img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.table-slick .status > form {
  float: right;
}
.table-slick .status-text {
  display: inline-block;
  font-size: 12px;
  margin: 11px 0;
  padding-left: 20px;
  position: relative;
}
.table-slick .status-text:before {
  border: 3px solid;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}
.table-slick .status-text.status-blue:before {
  border-color: #1C93ED;
}
.table-slick .status-text.status-green:before {
  border-color: #66B92E;
}
.table-slick .status-text.status-orange:before {
  border-color: #DA932C;
}
.table-slick .status-text.status-red:before {
  border-color: #D65B4A;
}
 
.table-inverse {
	color: #313D4F;
	background-color: #fff;
	border: none;
	box-shadow: none;
	th, td, thead th {
		border-color: #fff;
	}
	
	&.table-slick-header,
	.table-slick td p,
	.table-slick-header .title,
	.table-slick-header .title + .count  {
		color: #242424;
	}
	.status-orange {
		color:#DA932C;
	}
	&.table-bordered {
		border: 0;
	}
	&.table-striped tbody tr:nth-of-type(odd) {
		background-color: $bodyColor;
	}
	&.table-hover tbody tr:hover {
		background-color: rgba(255, 255, 255, 0.075);
	}
	&.table-slick tr:hover {
		background-color:rgba(255, 255, 255, 0.875);
	}
	&.table-slick tr:not(:last-of-type) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.875);
	}
}
@media (max-width: 991px) {
	.table-responsive {
		display: block;
		width: 100%;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		&.table-bordered {
			border: 0;
		}
	}
}
