<!DOCTYPE html>
<html lang="en">
{% include _header.html %}
<body class="sidebar-open">
    {% include _loader.html %}
    <div class="page-container animsition">
        {% include _topbar.html %}
        {% include _sidebar.html %}
        <main>
            {{ content }}
            {% include _footer.html %}
        </main>
    </div>
    <!-- Le Javascript -->
    <script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/library.min.js"></script>
    {% if page.customJs %}{% for customJsFile in page.customJs %}
    <script src="{{ site.baseurl }}/assets/js/{{ customJsFile }}"></script>{% endfor %}{% endif %}
    <script src="{{ site.baseurl }}/assets/js/core/main.js"></script>
    <script>
        // Dark Sidebar Toggle
        $('.js-darkSidebar').click(function(e) {
            e.preventDefault();
            let isDarkCss = $("link[href='{{ site.baseurl }}/assets/css/style-dark.css']");
            if (isDarkCss.length){
                isDarkCss.remove();
            }else{
                $('head').append('<link type="text/css" rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/css/style-dark.css">');
            }
        });
    </script>
</body>
</html>
