// Topbar
// ---------------------------------------------------------

.nav-custom {
  display: block;
  margin-bottom: 0;
  position: relative;
  transition: all 0.2s ease;
  padding: 0 !important;
  width: 100%;

  &-fixed {
    position: fixed;
    width: calc(100% - #{$offscreen-size});
    z-index: 9900;

    @include to($breakpoint-md) {
      width: 100%;
    }
  
    @include between($breakpoint-md, $breakpoint-xl) {
      width: calc(100% - #{$collapsed-size});
    }
  }

  .nav-container {
    @include clearfix;
    height: $header-height;
    width: 100%;

    .nav-left,
    .nav-right {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      position: relative;

      > li {
        float: left;

        > a {
          color: $default-dark;
          display: block;
          line-height: $header-height;
          min-height: $header-height;
          padding: 0 20px;
          transition: all 0.2s ease-in-out;

          i {
            font-size: 17px;
          }

          &:hover,
          &:focus {
            color: $default-dark;
            text-decoration: none;
          }

          @include to($breakpoint-md) {
            padding: 0 15px;
          }
        }
      }
    }

    // .dropdown-menu {
    //   margin: 0;
    //   margin-top: -5px;
    //   border: 0;
    //   background: #eee;
    //   padding: 0;
    //   border-radius: 0;
    //   right: 0;
    // }

    .nav-left {
      float: left;
    }

    .nav-right {
      float: right;
    }
  }

  .search-box {
    .search-icon-close {
      display: none;
    }

    &.active {
      .search-icon {
        display: none;
      }

      .search-icon-close {
        display: inline-block;
      }
    }
  }

  .search-input {
    display: none;

    &.active {
      display: inline-block;
    }

    input {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      font-size: 18px;
      height: 40px;
      margin-top: 12px;
      outline: none;
      padding: 5px;

      @include to($breakpoint-sm) {
        width: 85px;
      }

      @include placeholder {
        color: lighten($default-dark, 20%);
        font-style: italic;
      }
    }
  }
}

// Collapsed State
// ---------------------------------------------------------

.is-collapsed {
  .nav-custom-fixed {
    width: calc(100% - #{$collapsed-size});

    @include to($breakpoint-md) {
      width: 100%;
    }

    @include between($breakpoint-md, $breakpoint-xl) {
      width: calc(100% - #{$offscreen-size});
    }
  }
}

.offcanvas-menu {
  display: block;
  width: $offscreen-size;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: white;
  z-index: 9990;
  box-shadow: -1px 0 20px rgba(204, 230, 255, 0.086);
  @include transition(all .4s ease);

  &.open {
      right: 0;
  }

  &::-webkit-scrollbar {
      display: none;
  }
}

.nav-item > .active {
  margin: auto 10px;
  padding: 5px 5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  &:hover {
      color: $white;
  }
}

.rounded-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}